html {
	font-family: 'trade gothic light', 'arial bold';
	background: grey;
}
body {
	color: white;
}
.body {
	float: left;
	display: block;
	width: 100%;
}

/*header styles*/
div#header {
	width: 100%;
	background-color: #003a5c;
	display: block;
	float: left;
}
img#logo {
	width: 33.3333333333%;
	float: left;
}
img#logo:hover{
	content:url("tcc_stacked_302.png");
}
div#title {
	float: left;
	width: 66.6666666666%;
	padding-top: 5%;
}
h3#title {
	vertical-align: middle;
	text-align: center;
	font-weight: bold;
}

/* Navbar styles */
div#navbar {
	width: 100%;
	background-color: #89d2e6;
	display: block;
	float: left;
}
ul#navbarUl {
	margin-left: auto;
	margin-right: auto;
	font-size: 18px;
	font-weight: bold;
}
a.nav-link {
	color: #003a5c;
}
a.nav-link:hover{
   color: white;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#003a5c' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.custom-toggler.navbar-toggler {
  border-color: #003a5c;
  border-width: thin;
}

/* Footer styles */
div#footer {
	float: left;
	width: 100%;
	background-color: #003a5c;
	display: block;
}
div.footer {
	float: left;
	width: 50%;
	display: block;
	text-align: center;
	padding-top:20px;
	padding-bottom: 20px;
}
div.leftJustify {
	display: inline-block;
	text-align: left;
}
i.fab {
	font-size: 30px;
	color: #89d2e6;
}
i.fab:hover{
   color: white;
}


@media (max-width: 265px) {
	h3#title, ul#navbarUl {
		font-size: 10px;
	}
	div.footer {
		font-size: 8px;
	}
 }
@media (min-width: 266px) {
	h3#title, ul#navbarUl {
		font-size: 16px;
	}
	div.footer {
		font-size: 10px;
	}
 }
 @media (min-width: 400px) {
	h3#title {
		font-size: 20px;
	}
	div.footer {
		font-size: 16px;
	}
 }
@media (min-width: 550px) { 
	h3#title {
		font-size: 30px;
	}
 }
@media (min-width: 824px) { 
	h3#title {
		font-size: 50px;
	}
 }

/*
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { ... }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { ... }

// Extra large devices (large desktops, 1200px and up)
*/