div#carousel-example-generic {
	display: block;
	float: left;
}
div.slide-content {
	display:block;
	background: #89d2e6;
	text-align: center;
	color: #003a5c;
	font-size: 22px;
	font-style: bold;
}
h5 {
	margin-top: 0;
}
div.slide-content p {
	display: inline-block;
}
.fa-angle-double-left, .fa-angle-double-right {
	color: #003a5c;
	font-size: 60px;
}

@media (max-width: 265px) {
	div.slide-content, h5 {
		font-size: 8px;
	}
 }
@media (min-width: 266px) {
	div.slide-content, h5 {
		font-size: 10px;
	}
 }
 @media (min-width: 400px) {
	div.slide-content, h5 {
		font-size: 16px;
	}
 }